// {
//   "extends": [
//     "eslint:recommended",
//     "eslint-config-prettier"
//   ],
//   "plugins": [
//     "prettier"
//   ],
//   "extends": [
//     "react-app",
//     "prettier"
//   ],
//   "rules": {
//     "prettier/prettier": [
//       "error"
//     ]
//   }
// }