{
    "extends": [
        "react-app",
        "prettier",
        "eslint:recommended",
        "eslint-config-prettier"
    ],
    "plugins": [
        "prettier"
    ],
    "rules": {
        "no-unused-vars": "off",
        "prettier/prettier": [
            "error"
        ]
    }
}