.fBtn {
    font-size: 20px;
    padding: 0 20px;
    margin-right: 35px;
    background: var(--white);
    color: var(--black);
    text-decoration: none;

}

.fBtn:hover {
    transition: .3s;
    border-bottom: 6px solid;
    padding: 0 20px;
}

.editBtn{
    font-size: 2rem;
    color: var(--white);
    background-color: var(--black);
    padding: 15px;
    margin-top: 25px;
    border: none;
    cursor: pointer;
}

.outBtn{
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--black);
    padding: 15px;
    margin-top: 25px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}