.inpSearch {
    border: none;
    outline: none;
    background: none;
    width: 644px;
    font-size: 25px;
    margin-top: 50px;
}

.labSt {
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    margin-left: 45px;
}
