.bookForm {
    max-width: 400px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    margin: 20px 10px;
  }
  
  .bookForm div {
    margin-bottom: 10px;
  }
  
  .bookForm p {
    margin: 0;
  }
  
  .bookForm span {
    color: red;
  }
  
  .bookForm input[type="text"],
  .bookForm input[type="file"] {
    width: 95%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
