.close {
  visibility: hidden;
  pointer-events: none;
}

.open {
  pointer-events: all;
  background-color: var(--white);
  padding: 15px;
  overflow: hidden;
  visibility: visible;
  z-index: 1000;
  transition: 0.4s;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  border-radius: 15px;
}

.btn {
  cursor: pointer;
  width: 100%;
  color: var(--lightBlack);
  background-color: transparent;
  font-family: 'Poppins';
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}