.modale {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.modale.active {
    opacity: 1;
    pointer-events: all;
}

.modale__content {
    padding: 50px;
    background-color: white;
    width: 100%;
    transform: scale(.5);
    transition: .4s all;
}

.modale__content.active {
    transform: scale(1);
}


.modDiv {
    margin-top: 20px;
    margin-bottom: 35px;
}

.nameInput {
    padding: 15px;
    font-size: 2rem;
    margin-bottom: 50px;
    width: 100%;
}

.label {
    font-size: 3rem;
    font-family: "Poppins";
    color: var(--lightBlue);
}

.customFileInput {
    font-size: 2.5rem;
    cursor: pointer;
    margin-top: 15px;
    color: var(--black);
}

