header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--white);
    z-index: 999;
    box-shadow: 0 4px 2px -2px var(--grey);
}
.logo{
    width: 200px;
    margin-left: 30px;
}











