body{
    display: flex;
    justify-content: space-between;
    background-color: #d9d9d9
}
.icons{
    color: #1D1D2A
}
.leftSide {
    padding: 50px 65px;
}
.logo {
    font-size: 65px;
    color: black;
    text-decoration: none;
}

.lspan{
    color: white;
    font-size: 75px;
}
 .navbar{
    margin-top: 83px;
}
.link {
    margin-bottom: 38px;
    list-style-type: none;
    height: 29px;
    left: 123px;
    top: 207px;
}

.navbar  .menu   img, .settings  img{
    width: 20px;
    height: 20px;
    margin-right: 21px;
}

.setings{
    margin-top: 125%;
}
.settings div{
    margin-bottom: 33px;
}