footer {
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyRight{
    font-size: 20px;
    padding: 25px 15px;
    color: var(--white);
    font-family: "Poppins";
    text-align: center;
}
.socialMediaParagraph:nth-child(-n+3){
    padding-right: 15px;
}
.socialMediaParagraph:hover{
    opacity: .5;
}