footer {
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: var(--white);
    font-size: 30px;
    padding-left: 25px;
}

.copyRight{
    font-size: 20px;
    padding: 25px 15px;
    color: var(--white);
    font-family: "Poppins";
    text-align: center;
}

.instagram{
    margin-right: 15px;
}




/* Media */


@media screen and (max-width:475px) {
    .socialMedia{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 25px;
    }
    .instagram{
        width: 30%;
    }
}

@media screen and (max-width:555px) {
    .copyRight{
        font-size: 16px;
    }
}

