.img:nth-child(-n+2) {
    border-radius: 15px;
}

.mainDin {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 75vw;
    padding: 25px 30px;
}

.name {
    font-family: 'Poppins';
    font-size: 20px;
    line-height: 24px;
    color: var(--lightBlue);
    display: inherit;
    padding: 10px 0;
    text-decoration: none;
}

.paragrap {
    color: var(--white);
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 10px;
}


.bar{
    display: flex;
    justify-content: space-between;
}