.bigDiv {
    background: var(--white);
    padding: 35px;
    border-radius: 15px;
}

.inp {
    display: block;
    margin-bottom: 25px;
    border: 1px solid;
    width: 98%;
    padding: 10px 3px;
}

.but {
    padding: 10px 40px;
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--white);
    cursor: pointer;
}

.googleBtn {
    display: flex;
    align-items: center;
    padding: 10px 110px 15px 10px;
    margin-bottom: 25px;
    background: var(--white);
    font-size: 20px;
    cursor: pointer;
}

.googleImg {
    width: 30px;
    height: 30px;
    background: transparent;
}

.main {
    display: flex;
    justify-content: space-around;
    padding: 100px 0;
}

form .border {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.spBor {
    border-bottom: 3px solid;
    width: 46%;
    height: 1px;
}

.errormess {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--red);
}

.erorrInp {
    border-color: var(--red);
    display: block;
    width: 98%;
    padding: 10px 3px;
    margin-bottom: 25px;
    outline: none;
}