footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    font-size: 20px;
    padding: 25px;
    color: white;
    font-family: "Poppins";
}

footer .link {
    text-decoration: none;
    font-size: 18px;
    color: white;
    margin-right: 25px;
    font-family: "Poppins";
}

footer .link:hover {
    text-decoration: underline;
}