footer {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    font-size: 20px;
    padding: 25px;
    color: var(--white);
    font-family: "Poppins";
}
