.imgBack {
    background-image: url("../FirstPage/images/bkimg.jpg");
    height: 100vh;
    background-size: cover;
    filter: grayscale(100%);
    /* opacity: .7 ; */
    display: flex;
    justify-content: end;
    align-items: center;
}

.content{
   margin-right: 100px;
}
.h1 {
    font-size: 90px;
    font-weight: bold;
    font-family: "Poppins";
    padding-bottom: 30px;
    color: white;
}

.head{
    color: black;
}

.content p{
    background-color: gray;
    padding: 25px;
    border-radius: 25px;
    font-size: 20px;
    line-height: 30px;
    font-family: "Poppins";
    color: white;
}