.imgBack {
    background-image: url("../../assets/images/bkimg.jpg");
    height: 100vh;
    background-size: cover;
    filter: grayscale(100%);
    opacity: .7;
}

.content {
    position: absolute;
    top: 200px;
    right: 100px
}

.content h1 {
    font-size: 90px;
    font-weight: bold;
    font-family: "Poppins";
    padding-bottom: 30px;
    color: var(--white);
}

.content h1 span {
    color: var(--black);
}

.content p {
    background: var(--grey);
    padding: 25px;
    border-radius: 25px;
    font-size: 20px;
    line-height: 30px;
    font-family: "Poppins";
    color: var(--white);

}